*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 13px;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.red{
    color: red;
}

.extra_margin{
    margin-top: 20px;
}

.home{
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 13px 30px; 
    height: 60px;
}

.header__rightside{
    display: flex;
    align-items: center;
}

.header__rightside > a{
    margin-left: 30px;
}

.header__center{
    display: flex;
    align-items: center;
    width: 70%;
    position: relative;
}

.header__center input{
    margin-left: 2px;
    background: #EBEBEB;
    border-color: #EBEBEB;
    opacity: 0.3;
    border-radius: 22px;
    height: 25px;
    width: 59%;
    outline: none;
}

.header__center img{
    position: absolute;
    left: 56.5%;
}

.header__leftside{
    display: flex;
    align-items: center;
}

.header__leftside img{
   max-width: 80%;
}

.header__leftside__logo{
    margin-left: 20px;
}

.wrapper__main{
    display: flex;
    width: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 200px;
    font-weight: 100;
}

.sidebar li{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 5px 30px 15px 0px;
    color: #898989;
}

.sidebar a:visited{
    color: #898989;
    font-weight: 100;
}

.sidebar a:active{
    color: #898989;
    font-weight: 100;
}

.sidebar__menu img{
    margin-left: 19px;
    width: 8%;
}

.sidebar__menu a{
    margin-top: 2px;
    margin-left: 14px;
}

.sidebar__subs a{
    margin-left: 14px;
}

.sidebar__subspr{
    margin: 25px 18px 10px 18px;
    font-weight: 700;
}

.sidebar__subs img{
    margin-left: 19px;
    width: 20px;
}

.main{
    width: 87%;
}

.favchannel__videos, .recommended__videos, .recommendedchannel__videos{
    display: flex;  
    justify-content: space-between;
}

.favchannel__topic, .recommended__topic, .recommendedchannel__topic{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 3px; 
}

.topic__left{
    display: flex;
    align-items: center;
}

.topic__left > p{
    margin-left: 20px;
}

.topic__right{
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    align-items: center;
}

.topic__right > img{
    margin-left: 7px;
}

.favchannel__topic__name{
    margin-left: 15px;
    font-size: 20px;
}

.subscribebutton{
    width: 50%;
}

.favchannel__videoitem:nth-child(1){
    margin: 20px 0px 20px 0px;
}

.favchannel__videoitem:nth-child(n+2){
    margin: 20px 0px 20px 40px;
}

.favchannel__videoitem__cover{
    position: relative;
    width: auto;
}

.favchannel__videoitem__time{
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 12px;
    color: #ffffff;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 12px;
    padding: 5px;
}

.favchannel__videoitem__name{
    font-size: 16;
    font-weight: bold;
    margin: 8px 0;
}

.favchannel__videoitem__info{
    display: flex;
    justify-content: space-between;
}

.favchannel__videoitem__info > p{
    font-size: 8px;
    color: #C2C2C2;
}

.recommended__name{
    font-size: 20px;
    font-weight: 700;
}

.recommended__videoitem:nth-child(1){
    margin: 20px 0px 20px 0px;
}

.recommended__videoitem:nth-child(n+2){
    margin: 20px 0px 20px 40px;
}

.recommended__videoitem__cover{
    position: relative;
    width: auto;
}

.recommended__videoitem__time{
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 12px;
    color: #ffffff;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 12px;
    padding: 5px;
}

.recommended__videoitem__name{
    font-size: 16;
    font-weight: bold;
    margin: 8px 0;
}

.recommended__videoitem__info{
    display: flex;
    justify-content: space-between;
}

.recommended__videoitem__info > p{
    font-size: 8px;
    color:#C2C2C2;
}

.recommendedchannel__topic__name{
    font-size: 20px;
    font-weight: 700;
}

.recommendedchannel__topic__suggestions{
    font-size: 13px;
    color: #C2C2C2;
    display: flex;
}

.recommendedchannel__topic__margin{
    margin-right: 30px;
}

.recommendedchannel__videoitem:nth-child(1){
    margin: 20px 0px 20px 0px;
}

.recommendedchannel__videoitem:nth-child(n+2){
    margin: 20px 0px 20px 40px;
}

.recommendedchannel__videoitem__cover{
    position: relative;
    width: auto;
}

.recommendedchannel__videoitem__time{
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 12px;
    color: #ffffff;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 12px;
    padding: 5px;
}

.recommendedchannel__videoitem__name{
    font-size: 16;
    font-weight: bold;
    margin: 8px 0;
}


.recommendedchannel__videoitem__info{
    display: flex;
    justify-content: space-between;
}

.recommendedchannel__videoitem__info > p{
    font-size: 8px;
    color: #C2C2C2;
}


















