*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 13px;
}

a{
    text-decoration: none;
    color: #898989;
    font-weight: 100;
}

img{
    max-width: 100%;
}

.extra_margin{
    margin-top: 30px;
}

.home{
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 13px 30px; 
    height: 60px;
}

.header__rightside{
    display: flex;
    align-items: center;
}

.header__rightside > a{
    margin-left: 30px;
}

.header__center{
    display: flex;
    align-items: center;
    width: 70%;
    position: relative;
}

.header__center input{
    margin-left: 2px;
    background: #EBEBEB;
    border-color: #EBEBEB;
    opacity: 0.3;
    border-radius: 22px;
    height: 25px;
    width: 59%;
    outline: none;
}

.header__center img{
    position: absolute;
    left: 56.5%;
}

.header__leftside{
    display: flex;
    align-items: center;
}

.header__leftside img{
   max-width: 80%;
}

.header__leftside__logo{
    margin-left: 20px;
}

.wrapper__main{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main__left{
    width: 70%;
    margin: 0 20px;
}

.main__right__videos__nextbutton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.main__right__videos__nextbutton h1{
    font-size: 36px;
}

.main__right__videos__nextbutton__autoplay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px
}

.main__right__videoitem{
    margin: 0px 0px 20px 0px;
}

.main__right__videoitem__cover{
    position: relative;
    width: auto;
}

.main__right__videoitem__time{
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 12px;
    color: #ffffff;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 12px;
    padding: 5px;
}

.main__right__videoitem__name{
    font-size: 16;
    font-weight: bold;
    margin: 8px 0;
}

.main__right__videoitem__info{
    display: flex;
    justify-content: space-between;
}

.main__right__videoitem__info > p{
    font-size: 8px;
    color: #C2C2C2;
}

.main__left__playingvideo__videoname{
    font-weight: bold;
    font-size: 36px;
    margin-top: 15px;
}

.main__left__playingvideo__player{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.main__left__playingvideo__bar{
    position: absolute;
    bottom: 5px;
}

.main__left__playingvideo__bar__time{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 10px 30px;
    color: white;
}

.main__left__playingvideo__bar__time p{
    font-size: 18px;
}

.main__left__playingvideo__bar__timebar{
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
}

.main__left__playingvideo__bar__buttons{
    display: flex;
    justify-content: space-between;
    margin: 0px 17px;
}

.main__left__playingvideo__bar__buttons div{
    display: flex;
    align-items: center;
}

.main__left__playingvideo__bar__buttons div img{
    margin: 15px;
}

.main__left__playingvideo__bar__reactbutton__right{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #C2C2C2;
}

.main__left__playingvideo__bar__reactbutton__left{
    display: flex;
    justify-content: space-between;
}

.main__left__playingvideo__bar__reactbutton{
    display: flex;
    justify-content: space-between;
}

.main__left__playingvideo__bar__reactbutton__left__item{
    background: #EBEBEB;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 20px;  
    margin: 10px 0 10px 25px;
    padding: 5px;  
}

.main__left__channeldesc{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.main__left__channeldesc__left{
    display: flex;
    align-items:flex-start;
}

.main__left__channeldesc__left__block{
    width: 65%;
    display: block;
    margin-left: 10px;
}

.main__left__channeldesc__left__block p{
    margin-bottom: 15px;
}

.main__left__channeldesc__left__block p:nth-child(1){
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
}

.main__left__channeldesc__left__block p:nth-child(2){
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.main__left__channeldesc__left__block p:nth-child(3){
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.main__left__channeldesc__left__block p:nth-child(4){
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #C2C2C2;
}

.main__left__channeldesc__right{
    width: 40%;
}

























